@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $main-color;
}

.global_wrapper {
  display: flex;
}

.box-shadow {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transform: translateX(-200%);
  transition: 0.3s;
  z-index: 2;
  &--active {
    transform: translateX(0);
  }
}

.no-brd {
  border: none !important;
}

.overflow {
  overflow: hidden;
}

// components
@import './components/buttons.scss';
@import './components/input.scss';
@import './components/sidebar.scss';
@import './components/content.scss';
@import './components/table.scss';
@import './components/chart.scss';
@import './components/popUp.scss';
@import './components/pagination.scss';

// pages
@import './pages/index.scss';
@import './pages/about-us.scss';