// fonts
$font-size: 14px;
$line-height: floor($font-size * 1.3 );
$font-family: Roboto, sans-serif;
$font-base: 'Nunito', sans-serif;

// colors

$main-color: #28476B;
$page-background: #F3F5F8;
$light-gray-color: #C0D0E1;
$gray-color: rgba(40, 71, 107, 0.4);
$violet-color: #5B50D3;
$orange-color: #F49A47;
$green-color: #49B192;
$yellow-color: #FFCA38;
$blue-color: #73BED7;
$white-color: #ffffff;
$color1: #28476B;
$color2: #5B50D3;
$color3: #34475C;


// width

$before-w374: (max-width: 377px);
$before-w400: (max-width: 399px);
$before-w500: (max-width: 499px);
$before-w600: (max-width: 599px);
$before-w700: (max-width: 699px);
$before-w768: (max-width: 767px);
$before-w960: (max-width: 959px);
$before-w1170: (max-width: 1169px);
$before-w1340: (max-width: 1339px);
$before-w1440: (max-width: 1439px);
$before-w1560: (max-width: 1559px);