.content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 33px;
    background: #E5E5E5;

    @media (max-width: 1169px) {
        padding: 20px;
    }

    &__caption {
        @media (max-width: 1169px) {
            margin: 0;
            text-align: center;
        }
    }

    &__wrap {
        width: 100%;
        margin: 70px auto 0;
        overflow: scroll;

        @media (max-width: 767px) {
            margin: 40px auto 0;
        }
    }
    &__pagination {
        margin: 25px 0;
        
        @media (max-width: 767px) {
            margin: 25px auto;
        }
    }
}