.pagination {
    max-width: 1173px;
    display: flex;
    justify-content: flex-end;

    &__btn,
    &__link,
    &__dots {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 6px 0;
        border: none;
        outline: none;
        text-align: center;
        font-family: $font-base;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.6;
        color: $color3;
        transition: 0.3s;
    }

    &__btn {
        padding: 0 11px;
        background: transparent;
        cursor: pointer;
        &:hover {
            background: rgba(91, 80, 211, 0.4);
        }
    }

    &__link {
        width: 30px;
        height: 30px;
        background: transparent;
        margin: 0 7px;
        text-decoration: none;
        &--active {
            border-radius: 2px;
            background: $color2;
            color: $white-color;
        }
        &:hover {
            background: rgba(91, 80, 211, 0.4);
        }
    }

    &__dots {
        width: 30px;
        height: 30px;
        display: block;
    }
}