.popUp {
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 80px);
    top: calc(50% + 20px);
    left: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    background: $white-color;
    transform: translate(-50%, -50%);
    z-index: 5;

    overflow: scroll;
    height: calc(100vh - 80px);

    @media (max-width: 767px) {
        width: calc(100% - 40px);
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__caption {
        margin: 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 1.4;
        color: $color1;
    }

    &__close {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        transform: rotate(45deg);
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 2px;
            background: $light-gray-color;
        }

        &::after {
            transform: rotate(90deg);
        }
    }

    &__table {
        max-width: 842px;
        width: 100%;
        min-width: 728px;

        @media (max-width: 1169px) {
            max-width: 728px;
        }

        & td {
            padding: 12px 25px 12px 0;
        }

        & h3 {
            margin: 0;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.6;
            color: $color2;
        }

        & p {
            margin: 0;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.5;   
            color: $color1;
        }
    }

    &__wrapper {
        width: 100%;
        margin: 50px auto;
        overflow: scroll;
    }

    &__chart {
        box-sizing: border-box;
        width: 100%;
        min-width: 1541px;
        border-collapse: collapse;
        text-align: right;
        text-transform: uppercase;

        & tr {
            &:nth-child(2n) {
                background: rgba(91, 80, 211, 0.1);
            }
        }
    
        & td {
            padding: 4px;
            border-collapse: collapse;
            border: 1px solid rgba(192, 208, 225, 0.5);
            text-align: right;
            font-family: $font-base;
            font-weight: normal;
            font-size: 12px;
            line-height: 1.3;
            color: $color3;
        }

        & thead {
            background: rgba(129, 125, 168, 0.4);
            font-weight: bold;
            font-size: 10px;
            line-height: 1.5;
            color: $color3; 

            & td {
                position: relative;
                padding-right: 18px;
    
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border: 1px solid $color3;
                    border-left: none;
                    border-top: none;
                    top: 7px;
                    right: 7px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}