.sidebar {
  width: 200px;
  height: 60px;
  transition: 0.7s;

  @media (max-width: 1169px) {
    position: absolute;
    transform: translateX(-140px);
    z-index: 1;
    
    &--active {
      transform: translateX(0);
      z-index: 10;

      & .sidebar__content {
        transform: translate(0, -60px);
      }
    }
  }

  &__close {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px auto;
    border: none;
    border-radius: 50%;
    background: $color3;
    outline: none;
    transition: 0.3s;
    z-index: 1;

    @media (max-width: 1169px) {
      display: flex;
    }

    &:hover {
      box-shadow: 0 0 3px 1px #34475C;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 1px;
      top: 11px;
      background: #ffffff;
    }
    
    &::after {
      top: 19px;
    }

    &--open {
      transform: rotate(45deg);
    
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 2px;
        top: 14px;
        background: #C0D0E1;
      }

      &::after {
        transform: rotate(90deg);
      }   

      & .sidebar__close-line {
        display: none;
      }
    }
  }

  &__close-line {
    width: 15px;
    height: 1px;
    background: #ffffff;
  }

  &__content {
    height: calc(100vh - 60px);
    background: #ffffff;
    transition: 0.5s;
    
    @media (max-width: 1169px) {
      padding-top: 60px;
      transform: translate(-200%, -60px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    & li {
      list-style-type: none;
    }
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-left: 2px solid transparent;
    text-decoration: none;
    font-family: $font-base;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: $color1;
    transition: 0.3s;

    &:hover {
      background: rgba(40, 71, 107, 0.03);
    }

    &--active {
      border-left: 2px solid $color2;
      background: rgba(40, 71, 107, 0.03);
    }
  }

  &__link-svg {
    margin-right: 7px;
  }
}