.table {
    box-sizing: border-box;
    max-width: 1173px;
    width: 100%;
    min-width: 994px;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.4);

    &__row {
        &:nth-child(4n-2),
        &:nth-child(4n-1) {
            background: rgba(91, 80, 211, 0.1);
        }
    }

    & td {
        padding: 4px;
        border-collapse: collapse;
        border: 1px solid rgba(192, 208, 225, 0.5);
        text-align: right;
        font-family: $font-base;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.3;
        color: $color3;
    }

    &__caption {
        background: rgba(91, 80, 211, 0.4);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        color: $color3;

        & td {
            position: relative;
            padding-right: 18px;

            &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border: 1px solid $color3;
                border-left: none;
                border-top: none;
                top: 7px;
                right: 7px;
                transform: rotate(45deg);
            }
        }
    }


    &__btn {
        position: relative;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 50%;
        border: none;   
        background: #F78D2C;
        outline: none;
        z-index: 1;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 1px;
            background: $white-color;
        }

        &::after {
            transform: rotate(90deg);
        }

        &--active {
            &::after {
                display: none;
            }
        }
    }

    &__cover {
        display: none;

        &--show {
            display: contents;
        }
    }

    &__chart {
        padding: 0 !important;
    }
}