.table2 {
    box-sizing: border-box;
    max-width: 1134px;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;

    &__caption {
        background: rgba(247, 141, 44, 0.3);
        font-weight: bold;
        font-size: 10px;
        color: $color3;

        & td {
            position: relative;
            padding-right: 10px;

            &::before {
                content: '';
                position: absolute;
                width: 3px;
                height: 3px;
                border: 1px solid $color3;
                border-left: none;
                border-top: none;
                top: 9px;
                right: 3px;
                transform: rotate(45deg);
            }
        }
    }

    &__row {
        &:nth-child(2n) {
            background: rgba(91, 80, 211, 0.1);
        }
    }

    &__button {
        position: relative;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: none;   
        background: $color2;
        outline: none;
        color: $white-color;

        z-index: 1;
    }
}